/*RESERVIA - FEUILLE DE STYLES DE DEPART - POUR MOBILES*/

/*GENERAL*/
body {
	margin: 0;
	padding: 0;
	font-family: "raleway";
}
a {
    text-decoration: none;
	color: black;
}
h2 {
	font-size: 1.3rem;
}
h3 {
	font-size: 1rem;
}
h4 {
	font-size: 1.1rem;
}
.pictoSize {
	font-size: 1rem;
}
.flex {
    display: flex;
	flex-wrap: wrap;
}
.flexBetween {
	display: flex;
	justify-content: space-between;
}
.flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flexColumn {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flexNowrap{
    display: flex;
    flex-wrap: nowrap;
}
.flexEnd {
	display: flex;
    justify-content: flex-end;
}
.survol:hover {
	background-color: #deebff;
}
.paddingSection {
	padding: 10px 20px;
	margin: 20px 0;
}
.colorSection1 {
	background-color: #f2f2f2;
}

/*HEADER*/
.flexHeader{
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
}
.logoReservia {
    grid-column: 1/2;
    grid-row: 1/2;
	display: flex;
    width: 90px;
	margin:20px 0 0 20px;
}
.inscription {
    grid-column: 4/5;
    grid-row: 1/2;
	display: flex;
	color: #0065fc;
	font-weight: 900;
	font-size: 0.9rem;
	margin: 40px 20px 0 0;
}

/*NAVIGATION*/
nav {
    grid-column: 1/5;
    grid-row: 2/3;
	height: 50px;
	margin-top: 10px;
}
.main1{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-bottom: 3px solid #f2f2f2;
}
.main2{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-bottom: 3px solid #f2f2f2;

}
nav a:hover {
    color: #0065FC;
    border-bottom: 3px solid #0065FC;
}
/* SEARCH */
.search {
	margin-left: 20px;
}
.search p {
	margin-top:-5px;
}
.searchBar {
    height: 50px;
	margin: 30px 0;
	width: 100%;
}
.pictoMap {
	background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    width: 50px;
}
.searchText {
    border: 1px solid #f2f2f2;
    padding: 0 0 0 15px;
	font-family: "raleway";
    font-size: 1.1rem;
    font-weight: 700;
}
input:focus {
    outline: none;
}
.searchPicto {
    width: 50px;
    background-color: #0065FC;
    border: none;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
}
.txtSearch {
	display: none;
}

/* FILTERS */
.filter {
    align-items: center;
    height: 46px;
    border: 2px solid #f2f2f2;
    border-left: none;
    padding-right: 20px;
    border-radius: 25px;
	margin: 0 12px 12px 0;
}
.pictoFilter {
	background-color: #deebff;
	color: #0065fc;
	border-radius: 25px;
	height: 46px;
	width: 46px;
}
.textFilter {
	font-size: 0.9rem;
	font-weight: 900;
	margin-left: 12px;
}
.filter:hover {
    cursor: pointer;
    color: #0065fc;
	background-color: #f2f2f2;
}
.pictoInfo {
    width: 22px;
	height: 22px;
    border: 1px solid #f2f2f2;
    border-radius: 25px;
}
.fa-info {
	color: #0065fc;
	font-size: 0.8rem;
}
.info {
	margin: 20px 0;
}
.paddingFilters {
	margin: 0 20px;
}
.txtInfo{
	width: 80%;
	margin: 0 0 0 5px;
}
/* POPULAR*/
.fa-chart-line {
	font-size: 1.5rem;
	margin-top: 20px;
}
.hotelPopular {
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 0 5px #dcdcdc;
	height: 100%;
    width: 100%;
	margin: 10px 0;
}
.imgPopular {
	border-radius: 15px 0 0 15px;
	width: 140px;
	height: 140px;
	padding: 5px 0 2px 5px;
    object-fit: cover;	
}
.textPopular {
    margin: 20px 0 20px 20px;
}
.hotelName {
    margin: 0px;
}
.hotelTarif {
	font-size: 0.9rem;
    margin-top: 5px;
}
.spaceStar {
    word-spacing: -3px;
}
.fa-star {
    font-size: 0.8rem;
    letter-spacing: 2px;
}
.star {
	color: #0065FC;
}
.star0 {
	color: #f2f2f2;
}

/*HEBERGEMENTS*/
.hotelHebergement {
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 0 5px #dcdcdc;
	height: 100%;
	margin: 10px 0;
	padding: 5px 5px 0 5px;
}
.imgHebergement {
	border-radius: 15px 15px 0 0;
	height: 110px;
	width: 100%;
    object-fit: cover;
}
.textHebergement {
    margin: 5px 0 5px 15px;
}
.hebergementName {
    margin: 0;
}
.hebergementTarif {
	font-size: 0.9rem;
    margin: 5px 0;
}
.showMore{
    font-weight: 900;
    font-size: 1.1rem;
	margin: 20px 0 0 0;
}
.showMore:hover {
	color: #0065fc;
	font-weight: 500;
	margin-left: 2px;
}

/* ACTIVITES */
.hotelActivites {
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 0 5px #dcdcdc;
	height: 100%;
    width: 100%;
	margin: 10px 0;
}
.imgActivites {
	border-radius: 15px 15px 0 0;
	height: 140px;
	width: 100%;
    object-fit: cover;
}
.textActivites {
    margin: 10px 0 10px 20px;
}
.activitesName {
    margin: 0;
}

/*FOOTER*/
.blocFooter {
	background-color: #f2f2f2;
	padding: 30px 0 30px 20px;
}
footer h3 {
	margin-top: 40px;
}
footer a {
	padding:5px 0;
}
footer a:hover{
	color: #0065fc;
}